.Track-main {
  height: calc(100vh - 4.5rem);
}

.Track-main .details-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.Track-main .details-wrp .details-body {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);
}
