@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");

:root {
  --dark: #323b4a;
  --gray-l: #ebedee;
  --gray: #dfe1e2;
  --gray-d: #8c929b;
  --blue: #4ebafd;
  --blue-d: #3681b0;
  --blue-dd: #132c3d;
  --green: #7cd651;
  --green-d: #569538;
  --green-dd: #1e3313;
  --red-l: #ff9797;
  --red: #ff5757;
  --red-d: #9f3939;
  --red-dd: #3e2525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--gray-l);
}

.monospace {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: 500;
}
