.NotFound-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: calc(100vh - 4.5rem);
}

.NotFound-main .emoticon {
  font-size: 7rem;
  color: var(--gray-d);
}
